@model NBL.Models.ViewModels.TransferProducts.ViewTransferIssueModel
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <p class="text-center text-green" style="font-weight:bolder;font-size:20px">Deliverable Issue Details</p>
    <div style="border: 1px dotted; padding: 10px;">

        <div class="row">

            <div class="col-md-6">
                
                <address>
                    <b> From : </b>@Model.FromBranch.BranchName<br/>
                    @Model.FromBranch.BranchAddress
                </address>
                

            </div>
            <div class="col-md-6">
                <address>
                    <b>To :</b> @Model.ToBranch.BranchName<br/>
                    @Model.ToBranch.BranchAddress
                </address>
            </div>


        </div>
        
        <section style="margin: 10px">


            <div class="col-md-6 col-md-offset-3" style="border: 1px solid;">
                @using (Html.BeginForm("SaveScannedBarcodeToTextFile","Delivery",FormMethod.Post,new {id= "scanProductBarcodeForm" }))
                {
                    <div class="form-horizontal">
                        <h3 class="text-center">Scan Product</h3>
                        @if (TempData["QuantityNotSame"] != null)
                        {
                            <p class="text-danger">@TempData["QuantityNotSame"]</p>
                        }
                        <div id="message" style="display:none;font-weight:bold;font-size:20px" class="text-center">
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProductCode, new {@class = "control-label col-md-2"})
                            <input type="hidden" id="TransferIssueId" name="TransferIssueId" value="@Model.TransferIssue.TransferIssueId"/>
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control", placeholder = "Always keep pointer here..!!", autofocus = "", onchange= "SaveScannedBarcodeToTextFile(this)" })
                                @Html.ValidationMessageFor(m => m.ProductCode, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                               
                                @*@Html.ActionLink("Process", "SaveProductToFactoryInventory",null,new {@class="btn btn-success"})*@
                                <button type="button" value="@Model.TransferIssue.TransferIssueId" class="btn btn-success" onclick="viewDetails(this)"> Delivery</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <table id="table_deliverable_issue_details" class="display" style="border:1px solid black">
            <caption class="text-center text-green" style="font-weight:bolder;font-size:20px">Issued Product List</caption>

            <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Product Code</th>
            </tr>
            </thead>

            <tbody>
         
            </tbody>
            <tfoot>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Product Code</th>
            </tr>
            </tfoot>
        </table>
        <hr />
      

    </div>
    @Html.Partial("_ModalDeliveryPartialPage")

</section>

@section Scripts
{
    
<script src="~/Areas/Factory/Scripts/loadAllDeliverableProducts.js"></script>
    <script>
        function SaveScannedBarcodeToTextFile(btnClicked) {
            var $form = $(btnClicked).parents('form');
            $.ajax({
                type: "POST",
                url: RootUrl + 'factory/delivery/SaveScannedBarcodeToTextFile',
                data: $form.serialize(),
                error: function (xhr, status, error) {
                    alert(error);
                },
                success: function (response) {
                    var result = response.Message;
                    //alert("Saved Successfully");
                    $('#message').html(response).fadeIn('slow');
                    $('#message').html(result).fadeIn('slow'); //also show a success message
                    $('#message').delay(700).fadeOut('slow');
                    loadAllDeliverableProducts();
                    $('#scanProductBarcodeForm').trigger("reset");
                }
            });
        }
    </script>
    
    <script>

        function SaveDeliveryInfo(id) {

            if (confirm("Are you sure to Save  this delivery info?")) {

                $("#saveDeliveryInfoForm").submit();
            } else {
                return false;// if it's a link to prevent post
            }

            return false;// if it's a link to prevent post


        }
    </script>
    
    <script>

        function viewDetails(transferIssueId) {

            $.ajax({
                type: "POST",
                url: "@Url.Action("ViewOrderDetails", "Delivery", new { area = "Factory" })",
                data: { transferIssueId: transferIssueId.value },
                success: function (response) {
                    $('#modalBody').html(response);
                    $('#showDeliveryModal').modal('show');
                }
            });
        }

    </script>
    <script>
        window.onload = function () {
            loadAllDeliverableProducts();
        };
    </script>
}
