@model IEnumerable<NBL.Models.ViewModels.TransferProducts.ViewProductTransactionModel>

@{
    ViewBag.Title = "Transactions";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

<section class="content">
    <h3 class="text-center headingStyle">Transaction Info</h3>
    
    <table class="display" id="tbl_transaction_info" style="border: 1px solid">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionRef)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.QuantityIssued)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DeliveredQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceivedQuantity)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.DeliveredStatus)
                </th>

            </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionRef)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.QuantityIssued)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.DeliveredQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedQuantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DeliveredStatus)
                </td>

            </tr>
        }
        </tbody>

    </table>

</section>
@section Scripts
{
    <script>
        $("#tbl_transaction_info").DataTable();
    </script>
}
